body {
    margin: 0;
    padding: 0;
}

#menu {
    display: flex;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 9999;
}

#menu li {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 15px;
}

#wave {
    width: 75%;
    position: absolute;
}

#kobold {
    width: 20%;
    float: right;
    margin-right: 200px;
    margin-top: 450px;
    z-index: 9999;
}

.container {
    position: absolute;
}

/*
h1 {
    color: white;
    position: absolute;
    z-index: 9999;
    padding: 100px;
}
*/

#description {
    color: white;
    position: absolute;
    z-index: 9999;
    margin-top: 95px;
    margin-left: 40px;
}

#descriptions {
    text-align: justify;
    max-width: 400px;
}

