body {
    margin: 0;
}

#menu {
    display: flex;
    margin: 0;
    padding: 0;
    position: absolute;
}

#menu li {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 15px;
}

#wave {
    width: 60%;
}

#kobold {
    width: 20%;
    float: right;
    margin-right: 100px;
    margin-top: 250px;
}



